body {
  /* background: rgba(237, 219, 219, 0.27); */
  background-image: url('./about-us-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  width: 45%;
  margin-left:50%;
}
.input-box {
  padding: 10px;
}
.list-wrapper {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #141313;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: .3px 2px 5px .5px #696060;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
}
.btn-1 {
  background: rgb(229, 60, 118);
  font-weight: 600;
  font-size: 1.2rem;
}
.btn-2 {
  background: purple;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 8px 15px;
}
.todo-list-container {
  display: inline-block;
  width: 100%;
  background: #676363;
  padding: 20px;
}
.list {
  background: rgba(231, 215, 215, 1);
  box-shadow: 1px 1px 1px 0.5px #dad9d9;
  text-align: left;
  padding: 15px;
  font-size: 1.3rem;
  margin: 5px 0;
  font-weight: 600;
}
.red {
  color: rgb(172, 31, 31);
}
.edit, .delete {
  margin: 0 5px;
  float: right;
  display: inline-block;
  padding: 2px;
}
.del__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.title {
  padding: 10px;
  font-size: 1.2rem;
  width: 350px;
}
.desc {
  height: 250px;
  width: 350px;
  padding: 10px;
}
.show-todo {
  margin: 20px 20px 0 0;
}
.show-todo-title {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.show-todo-desc {
  font-size: 1.2rem;
}
